
*{
    margin: 0;
    padding: 0;
}

.header{
    height: 95vh;
    background: red;
    background-image: linear-gradient(to left bottom, rgba(102,255,102,0.7),rgba(230,255,230,0.7)), url(img/9.jpg);
    background-size: cover; /*resmin ekranı kaplamasını sağlar*/
    background-position: top; /*ekran küçüldükçe üst tarafın sabit kalmasını sağlar*/
    clip-path: polygon(0 0 ,100% 0,100% 100%,0 85%);
    position: relative;
}

.heading{
    text-transform: uppercase;
    color: white;
    position:absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.heading-main{
font-size: 50px;
display: block;
letter-spacing: 15px; /*harfler arası boşluk belirtme*/ 
}

.heading-sub{
font-size: 30px;
display: block;
letter-spacing: 10px;
}
.logo-box{
    position: absolute;
    top: 40px;
    left:40px ;
}

.logo{
    height: 100px;
}